{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle Video{% endblock %}

{% block body %}

<a href="{{ path('app_admin_video_index') }}" class="btn btn-dark mb-3">Retour</a>
    <h1>Insérer une nouvelle Video</h1>

    {{ include('admin_video/_form.html.twig') }}


{% endblock %}
