{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}
{% block body %}
<<<<<<< HEAD
=======
<h2>Bienvenue</h2>
<h1>Bloom in Two</h1>
>>>>>>> 44fb50e097b834e4bb784fc1837701a1ada9b590

{% endblock %}
