<h1>Coucou ! Tu peux confirmer ton e-mail</h1>

<p>
    Tu peux confirmer ton e-mail et rejoindre la communauté en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très bientôt sur Bloom Vidéo !
</p>
