@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.cadre{
    background-color: rgb(249, 236, 219);
    padding: 25px;
    border-radius: 20px;
    border-style: solid;
}

.moncompte{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    margin: 30px;
}

.btn{
    margin: 10px;
}


h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}