@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f7bec8;
}
.cadre{
    background-color: rgb(249, 236, 219);
    padding: 25px;
    border-radius: 20px;
    border-style: solid;
}

.navbar{
    align-items: center;
}

.logo{
    width: 100px;
}
.card{
    margin-top: 5px;
    margin-bottom: 5px;
}

.moncompte{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 4rem;
    text-align: center;
    margin: 30px;
}

.btn{
    margin: 10px;
}

.nav-link{
font-family: 'Poppins', sans-serif;
font-size: 5rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    text-align: center;
}

.title-video{
    font-size: 1rem;
}