{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau Sponsor{% endblock %}

{% block body %}

<a href="{{ path('app_admin_sponsor_index') }}" class="btn btn-dark mb-3">Retour</a>
    <h1>Créer un nouveau Sponsor</h1>

    {{ include('admin_sponsor/_form.html.twig') }}

{% endblock %}
